<h3>Spending by date</h3>
<% date = DateTime.now.end_of_month.to_date %>
<% loop do %>
  <p><%= date.strftime("%e %B") %> - <%= @currency %><%= @user.format_currency(@user.spend_on_date(current_user, date))%> </p>
  <% items_in_day = @user.daily_spend_detail(current_user, date) %>
  <ul><% items_in_day.each do |item| %>
  	<li><%= @currency %><%= @user.format_currency(item.amount) %>, <%= item.name %>, <%= item.category %>      <%= link_to "Delete", item, method: :delete %></li>
  <% end %></ul>
  <% date -= 1.day %>
  <% break if date.month == (DateTime.now.month - 1) %>
<% end %>