<h3>Spending by date</h3>
<p>Total spend to date: <%=@user.primary_currency %><%= @user.daily_spending_total_to_now(current_user) %></p>
<% date = DateTime.now.end_of_month.to_date %>

<% DateTime.now.end_of_month.day.times do %>
<div style="overflow-x:auto;">
<table class="daily-entries-table">
  <tr class=<%= current_user.green_or_red(current_user, date) %>>
    <th class="daily-spend-by-date"><%= date.strftime("%e %B") %></th>
    <th class="daily-spend-name"><%= @currency %><%= @user.format_currency(@user.spend_on_date(current_user, date))%></th>
    <th class="daily-spend-category"><%=link_to "Add entry", new_user_daily_expense_path(current_user, date), class: "btn btn-default"%></th>
    <th class="daily-spend-edit"></th>
    <th class="daily-spend-delete"></th>
  </tr>
  <% items_in_day = @user.daily_spend_detail(current_user, date) %>
  <% items_in_day.each do |item| %>
    <tr>
      <td><%= @currency %><%= @user.format_currency(item.amount) %></td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= link_to "Edit", edit_user_daily_expense_path(current_user, item) %></td>
      <td><%= link_to "Delete", item, method: :delete %></td>
    </tr>
  <% end %>
  <% date -= 1.day %>

</table>
</div>
<br>
<% end %>
