<h2>Your monthly entries</h2>
<h3>Incomes - <%= @user.currency_symbol(@user) %><%= @user.recurring_incomes(@user) %></h3>
<% if @incomes.empty? %>
	<p>You haven't added any incomes yet!</p>
	<%= link_to "Add you first income entry", new_user_income_path(@user)%>
<% else %>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Category</th>
			<th>Date</th>
			<th>Regular?</th>
			<th>Share of Total Income</th>
		</tr>
	<% @incomes.each do |income| %>
		<tr>
			<td><%= income.name %></td>
			<td><%= @user.currency_symbol(@user) %><%= income.amount %></td>
			<td><%= income.category %></td>
			<td><%= income.date %></td>
			<td><%= income.regular %></td>
			<td><%= ((income.amount / @user.recurring_incomes(@user))*100).round(1) %>%</td>
			<td><%= link_to "Edit entry", edit_user_income_path(current_user, income) %></td>
			<td><%= link_to "Delete", income, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
		</tr>
	<% end %>
	</table>
	<%= link_to "Add additional incomes", new_user_income_path(@user)%>
<% end %>

<h3>Expenses - <%= @user.currency_symbol(@user) %><%= @user.recurring_expenses(@user) %></h3>
<p><%= ((@user.recurring_expenses(@user) / @user.recurring_incomes(@user)) * 100).round(1) %>% of total income</p>
<% if @expenses.empty? %>
	<p>You haven't added any expenses yet!</p>
	<%= link_to "Add you first expense entry", new_user_expense_path(@user)%>
<% else %>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Category</th>
			<th>Date</th>
			<th>Regular?</th>
			<th>Share of Total Income</th>
		</tr>
	<% @expenses.each do |expense| %>
	<tr>
		<td><%= expense.name %></td>
		<td><%= @user.currency_symbol(@user) %><%= expense.amount %></td>
		<td><%= expense.category %></td>
		<td><%= expense.date %></td>
		<td><%= expense.regular %></td>
		<td><%= ((expense.amount / @user.recurring_incomes(@user))*100).round(1) %>%</td>
		<td><%= link_to "Edit entry", edit_user_expense_path(current_user, expense) %></td>
		<td><%= link_to "Delete", expense, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
	</tr>
	<% end %>
	</table>
	<%= link_to "Add additional expenses", new_user_expense_path(@user)%>
<% end %>

<h3>Savings - <%= @user.currency_symbol(@user) %><%= @user.recurring_savings(@user) %></h3>
<% if @savings.empty? %>
	<p>You haven't added any savings yet!</p>
	<%= link_to "Add you first saving entry", new_user_saving_path(@user)%>
<% else %>
	<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Regular</th>
		<th>Share of Total Income</th>
	</tr>	
	<% @savings.each do |saving| %>
	<tr>
		<td><%= saving.name %></td>
		<td><%= @user.currency_symbol(@user) %><%= saving.amount %></td>
		<td><%= saving.regular %></td>
		<td><%= ((saving.amount / @user.recurring_incomes(@user))*100).round(1) %>%</td>
		<td><%= link_to "Edit entry", edit_user_saving_path(current_user, saving) %></td>
		<td><%= link_to "Delete", saving, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
	</tr>
	<% end %>
	</table>
	<%= link_to "Add additional savings", new_user_saving_path(@user)%>
<% end %>