<h2>Your monthly entries</h2>
<h3>Your monthly spending budget is <%= @currency %><%= @user.format_currency(@user.disposable_income(current_user)) %> - <%= @user.budget_share_of_income(current_user) %>% of total income</h3>
<h3>Incomes - <%= @currency %><%= @user.format_currency(@user.recurring_incomes(current_user)) %></h3>
<% if @incomes.empty? %>
	<p>You haven't added any incomes yet!</p>
	<%= link_to "Add your first income entry", new_user_income_path(current_user)%>
<% else %>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Regular?</th>
			<th>Share of Total Income</th>
		</tr>
	<% @incomes.each do |income| %>
		<tr>
			<td><%= income.name %></td>
			<td><%= @currency %><%= @user.format_currency(income.amount) %></td>
			<td><%= income.date.strftime("%e %B") %></td>
			<td>
				<% if income.regular %>
				<%= image_tag('tick.png', alt: "true") %>
				<% else %>
				<%= image_tag('cross.png', alt: "false") %>
				<% end %>
			</td>
			<td><%= ((income.amount / @user.recurring_incomes(current_user))*100).round(1) %>%</td>
			<td><%= link_to "Edit entry", edit_user_income_path(current_user, income) %></td>
			<td><%= link_to "Delete", income, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
		</tr>
	<% end %>
	</table>
	<%= link_to "Add additional incomes", new_user_income_path(current_user)%>
<% end %>

<h3>Expenses - <%= @currency %><%= @user.format_currency(@user.recurring_expenses(current_user)) %></h3>
<% if @expenses.empty? %>
	<p>You haven't added any expenses yet!</p>
	<%= link_to "Add your first expense entry", new_user_expense_path(current_user)%>
<% else %>
<p><%= ((@user.recurring_expenses(current_user) / @user.recurring_incomes(current_user)) * 100).round(1) %>% of total income</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Category</th>
			<th>Date</th>
			<th>Regular?</th>
			<th>Share of Total Income</th>
		</tr>
	<% @expenses.each do |expense| %>
	<tr>
		<td><%= expense.name %></td>
		<td><%= @currency %><%= @user.format_currency(expense.amount) %></td>
		<td><%= expense.category %></td>
		<td><%= expense.date.strftime("%e %B") %></td>
		<td>
				<% if expense.regular %>
				<%= image_tag('tick.png', alt: "true") %>
				<% else %>
				<%= image_tag('cross.png', alt: "false") %>
				<% end %>
			</td>
		<td><%= ((expense.amount / @user.recurring_incomes(current_user))*100).round(1) %>%</td>
		<td><%= link_to "Edit entry", edit_user_expense_path(current_user, expense) %></td>
		<td><%= link_to "Delete", expense, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
	</tr>
	<% end %>
	</table>
	<%= link_to "Add additional expenses", new_user_expense_path(current_user)%>
<% end %>

<h3>Savings - <%= @currency %><%= @user.recurring_savings(current_user) %></h3>
<% if @savings.empty? %>
	<p>You haven't added any savings yet!</p>
	<%= link_to "Add your first saving entry", new_user_saving_path(current_user)%>
<% else %>
<p><%= ((@user.recurring_savings(current_user) / @user.recurring_incomes(current_user)) * 100).round(1) %>% of total income</p>
	<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Regular</th>
		<th>Share of Total Income</th>
	</tr>	
	<% @savings.each do |saving| %>
	<tr>
		<td><%= saving.name %></td>
		<td><%= @currency %><%= @user.format_currency(saving.amount) %></td>
		<td>
				<% if saving.regular %>
				<%= image_tag('tick.png', alt: "true") %>
				<% else %>
				<%= image_tag('cross.png', alt: "false") %>
				<% end %>
			</td>
		<td><%= ((saving.amount / @user.recurring_incomes(current_user))*100).round(1) %>%</td>
		<td><%= link_to "Edit entry", edit_user_saving_path(current_user, saving) %></td>
		<td><%= link_to "Delete", saving, method: :delete,
							data: { confirm: "Are you sure you want to delete this entry?" }%></td>
	</tr>
	<% end %>
	</table>
	<%= link_to "Add additional savings", new_user_saving_path(current_user)%>
<% end %>