<h4>Spend left today</h4>
<table>
	<tr>
		<td><%= @currency %><%= @user.format_currency(@user.dynamic_daily_budget(current_user)) %></td>
		<td>-</td>
		<td><%= @currency %><%= @user.format_currency(@user.spend_today(current_user)) %></td>
		<td>=</td>
		<td><strong><%= @currency %><%= @user.format_currency(@user.remaining_today(current_user)) %></strong></td>
		<td><%=link_to "Add daily entry", new_user_daily_expense_path(current_user), class: "btn btn-success"%></td>
		<td><button class="btn btn-primary" id="complete-spend-today">Forecast End Balance*</button></td>
	</tr>
	<tr>
		<td>Goal</td>
		<td></td>
		<td>Spend</td>
		<td></td>
		<td>Remaining</td>
	</tr>
</table>

<div id="forecast-spend" style="display: none">
<h2 >At this rate you will have <%= @currency %><%= @user.format_currency(@user.forecast_end_balance(current_user)) %> at the end of the month. <%= @user.forecast_result(current_user) %> </h2>
<p><small>*This is your average daily spending to date for the whole month, less any future daily items you've already committed to</small></p>
</div>
 
<script>
$( "button" ).click(function() {
  $( "#forecast-spend" ).show( "slow" );
});
</script>


<script type="text/javascript">
$(function() {
  $('a#complete-spend-today').click(function(event){
    event.preventDefault();
    $('div#forecast-spend').toggle();
  });
});   
</script>