<h1>Show</h1>
<p>First name - <%= @user.first_name %></p>
<p>Last name - <%= @user.last_name %></p>
<p>Email - <%= @user.email %></p>
<p>User id - <strong><%= @user.id %></strong></p>
<p>password (an experiment to see if hashed or not) - <%= @user.password_digest %></p>