<h2>Welcome <%= @user.name%> - you have <%= @user.primary_currency %><%= @user.budget_left(current_user) %> remaining</h2>
<hr>
<%= render 'spend_left_today' %>
<hr>
<p>Your original daily budget was <%= @currency %><%= @user.format_currency(@user.daily_budget(current_user)) %> </p>
<p>To hit your targets, your latest daily budget is <%= @currency %><%= @user.format_currency(@user.dynamic_daily_budget(current_user)) %></p>
<%= render 'progress' %>
<hr>
<%= render 'daily_spend_by_date' %>
<hr>

<h3>View your monthly income/outgoings <%= link_to 'here', user_monthly_entries_path(current_user) %> to calcuate your daily budget</h3>
<ul>
	<li><%= link_to "Income", new_user_income_path(current_user)%> - <%= @currency %><%= @user.format_currency(@user.recurring_incomes(current_user))%></li>
	<li><%= link_to "Expenses", new_user_expense_path(current_user)%>- <%= @currency %><%= @user.format_currency(@user.recurring_expenses(current_user))%></li>
	<li><%= link_to "Savings (target)", new_user_saving_path(current_user)%>- <%= @currency %><%= @user.format_currency(@user.recurring_savings(current_user))%></li>
</ul>

