<h1>Show</h1>
<h2>Welcome <%= @user.name%>!</h2>

<h3>Add regular income/outgoings here to calcuate your daily budget</h3>
<ul>
	<li><%= link_to "Income", new_user_income_path(@user)%></li>
	<li><%= link_to "Expenses", new_user_expense_path(@user)%></li>
	<li><%= link_to "Savings (target)", new_user_saving_path(@user)%></li>
</ul>
<hr>
<h2>Your daily budget is £<%= @user.daily_budget(@user) %> </h2>

<hr>
<h2>Your current entries</h2>

<h3>Incomes</h3>
<% @incomes.each do |income| %>
	<%= income.amount %>
<% end %>

<h3>Expenses</h3>
<% @expenses.each do |expense| %>
	<%= expense.amount %>
<% end %>

<h3>Savings</h3>
<% @savings.each do |saving| %>
	<%= saving.amount %>
<% end %>


<hr>
<p><%= link_to "Update account info", edit_user_path(current_user) %></p>
<p><%= link_to "Log out", logout_path, method: :delete %></p>