<h2>About</h2>

<p class= 'center-text'>Is this familiar to you?</p>
<%= image_tag('paycheck-meme.jpg', alt: "Pacycheck Meme", class: 'center-image') %>

<p>Its kind of a joke that we all manage our finances so badly we can barely make it to the end of the month with a positive balance.</p>
<p>Except its not a very funny joke - <%= link_to "46% of American's can't afford a $400 bill", 'https://www.washingtonpost.com/news/wonk/wp/2016/05/25/the-shocking-number-of-americans-who-cant-cover-a-400-expense/?utm_term=.5fc215ee8ef8', target: '_blank' %> and in the UK <%= link_to "19 million people are struggling to maintain decent living standards", "http://www.huffingtonpost.co.uk/entry/millions-of-just-about-managing-families-are-at-risk-of-falling-into-poverty-leading-think-tank-warns_uk_58a2ede5e4b0ab2d2b18c914", target: '_blank' %>.</p>

<br>

<p>I want to know what my budget is each day, if I am over/under it, and most importantly, if at the current rate I will run out of money before the end of the month.</p>
<p>So feeling inspired by other companies <%= link_to "that started their life as excel spreadsheets", 'https://levels.io/product-hunt-hacker-news-number-one/'%>, I decided to make something myself...</p>
<p>...and hence MySpendingPal was born, so others in a similar predicament, could have something help them to financial safety.</p>

<br>
<hr>
<%= render 'getting_started' %>
