<form class="form-horizontal">
<%= form_for(@expense) do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>

	<%= f.label :amount %>
	<%= f.number_field :amount, step: 0.01, min: 0, class: "form-control" %>

	<%= f.label :category %>
	<%= f.text_field :category, class: "form-control" %>

	<%= f.label :date %>
	<%= f.date_field :date, class: "form-control" %>

	<%= f.label "Repeats next month?" %>
	<%= f.check_box :regular, class: "checkbox inline", checked: "checked" %>

	<%= f.submit %>
<% end %>
</form>