<!DOCTYPE html>
<html>
  <head>
  	<%= render '/google_analytics' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    <title>MySpendingPal</title>
    <meta name="description" content="Make your money last the month">
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name=viewport content='width=700'>
  </head>

  <body>
    <%= render 'pages/header' %>
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <div class='main-page-content'>
      <%= yield %>
    </div>
    <%= render 'pages/footer' %>
  </body>
</html>
