<!DOCTYPE html>
<html>
  <head>
  	<%= render '/google_analytics' %>
    <title>Myspendingpal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'pages/footer' %>
  </body>
</html>
